  
  <div class="individual-activity-container">
    <p>
      <%= @activity.name %>
      <div class="dropdown-activity">
        <span style="">...</span>
          <div class="dropdown-activity-content">
            <form action="/activities/<%= @activity.id%>/edit" >
              <button>Edit</button>
            </form>
            <form action="/activities/<%= @activity.id %>" method = "post">
              <input type="hidden" name ="_method" value="delete">
              <button>delete</button>
            </form>
           </div>
      </div> 
    </p>
    <img src="<%= @activity.image_url%>"> 
    <p><%= @activity.description %></p>
   
  </div>

  
